<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('components/obj1'); -%>
    <%- include('components/obj2'); -%>
    <div class="main-content">
      <div id="items" class="initial">
        <% for(let i = 0; i < 3; i++) { %>
          <%- include('components/item'); -%>
        <% } %>
      </div>
      <div id="pagination">
        <div onclick="leftPagination()" id="left" class="disabled"><</div>
        <div onclick="rightPagination()" id="right">></div>
      </div>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
